//The dialog window styling
#image-dialog {
  border: none;
  border-radius: 12px;
  padding: 0;
  //using vh so it is flexible with mobile screen size 
  max-width: 80vw;
  max-height: 80vh;
  background: transparent;
  overflow: hidden;

  @media (min-width: $small) {
    max-width: 90vw;
    max-height: 90vh;
  }
}

// img inside dilog window styling
#image-dialog img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

// text under displayed img
#image-dialog p {
    padding-top: 5px;
    color: $white; 
    text-align: center;
    
}

// The semi-transparent background behind the dialog windown
#image-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px); 
}

//Animation for Dialog Window
#image-dialog[open] {
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
