//Styling for interface of website 

.container {
    margin: 25px auto;
    padding: 7px 10px;
    border: 2px solid $dark;
    border-radius: 10px;
    background-color: $white;
    color: $black;

    @media (min-width: $small) {
        width: 750px;
    }

    @media (min-width: $medium) {
        width: 970px;
    }

    @media (min-width: $large) {
        width: 1200px;
    }
}

.img-generator-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;

    .img-title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            padding: 10px 0;
            margin-bottom:10px;
            text-align: center;
            font-weight: $font-bold;
            color:$dark;
        }

        h2 {
            text-align: center;
            font-weight: $font-semibold;
            margin-bottom:10px;
        }
    }

	.img-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0;

        .generate-button-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 5px 0;

		    .generate-img {
                background-color: $red;
            }

            .generate-img:hover {
                background-color: $hover-red;
            }

            .add-img {
                background-color: $medgrey;
            }

            .add-img:hover {
                background-color: $hover-grey;
            }

        }

        .button-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 5px 0;

            #selectemailbox {
                display: flex;
                flex-flow: row Wrap;
                justify-content: center;
                align-items: center;
                width: 100%;

			    label { 
                    margin-right: 8px}
                    font-size: rem(18px);
                    margin-bottom: 8px;

                    @media (min-width: $small) {
                        margin-bottom: 0;
                    }
                
			    select {
                    font-size: rem(18px);
                    border-radius: 5px;
                    text-align: center;
                    margin-right: 8px;
                    text-transform: uppercase;
                    margin-bottom: 8px;

                    @media (min-width: $small) {
                        margin-bottom: 0;
                    }
                }

                .switch-email {
                    background-color: $medgrey;
                }

                .switch-email:hover {
                    background-color: $hover-grey;
                }
            }
        }
            .messages {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align:center;
                margin-bottom: 5px;

                .message-text {
                    color: $green;
                    font-size: rem(16px);
                    padding: 0;
                    margin: -5px 0 10px;
                    text-align: center;
                    flex-basis: 100%;
                }
            }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            border: 2px solid $black;
            padding:15px;
            margin: 0 5px 10px;
            height:300px;
            width: 100%;

            
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
        }
    }

	.img-form-box {
        width: 100%;
        color: $black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-weight: $font-semibold;
            margin-bottom:10px;
        }

		.img-form {           
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

		    .form-field {
                display: flex;
                flex-flow: row wrap;
                width:100%;
                position: relative;
                justify-content: center;
                align-items: center;
                text-align:center;
                margin: 10px 0 8px;

				label {
                    display:block; 
                    margin-right: 8px;
                    font: size rem(16px);
                }

                .formtext {
                    border-radius: 5px;
                    background-color: $offwhite;
                    font: size rem(16px);
                    color: $dark;
                    width: 200px;
                    margin: 0 8px 0 0;
                    padding:5px;
                }

                .error-message {
                    color: $red;
                    font: size rem(16px);
                    margin-top: 5px;
                    padding: 5px 0;
                    text-align: center;
                    flex-basis: 100%;
                    width: 100%;
                }
            }

            .submit {
                background-color: $dark;
            }

            .submit:hover {
                background-color: $hover-dark;
            }
        }
    }

	.linked-imgs-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

		h2 {
            font-weight: $font-semibold;
            margin-bottom:10px;
        }

		.display-imgs {
            background-color: $blue;
        }

        .display-imgs:hover {
            background-color: $hover-blue;
        }

        .display-imgs-box {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            img {
                object-fit: cover;
                height: 200px;
                width: 300px;
                border: 2px solid $black;
                margin: 10px;
            }
        }
    }
}

.btn {
    color: $white;
    font-size: rem(16px);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
}