//Styling for interface of website 

.container {
    margin: 25px auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid $dark;
    border-radius: 10px;
    background-color: $white;
    color: $black;

    @media (min-width: $small) {
        width: 750px;
    }

    @media (min-width: $medium) {
        width: 970px;
    }

    @media (min-width: $large) {
        width: 1200px;
    }
}

.img-generator-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    .img-title {
        text-align: center;

        h1 {
            padding: 10px 0;
            margin-bottom:10px;
        }

        p {

        }
    }

	.img-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0;

		.generate-img {
            background-color: $red;
        }

        .generate-img:hover {
            background-color: $hover-red;
        }

		.img-container {
            
            img {

            }
        }

		.request-email-message {
            color: $green;
            font: size rem(15px);
            line-height: rem(22px);
            padding: 10px 0;
            display:block;
            text-align: center;
        }

        .button-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 10px 0;

		    .generate-img-current, .generate-img-new {
                background-color: $grey;
            }

            .generate-img-current:hover, .generate-img-new:hover {
                background-color: $hover-grey;
            }

		    .request-new-email-message {
                color: $green;
                font: size rem(15px);
                line-height: rem(22px);
                padding: 10px 0;
                display:block;
                text-align: center;
                flex-basis: 100%;
                width: 100%;
            }
        }
    }

	.img-form-box {
        width: 100%;
        color: $black;
        background-color: $offwhite;

		.img-form {           
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

		    .form-field {
                display: flex;
                flex-flow: row wrap;
                width:100%;
                position: relative;
                justify-content: normal;
                align-items: normal;
                margin: 0 0 10px;

				label {
                    display:block; 
                    text-align: left;
                }

                .formtext {
                    display:inline-flex;
                    width:100%;
                    border-radius: 5px;
                    height: 39px;
                    background-color: $offwhite;
                }

                .error-messege {
                    color: $red;
                    font: size rem(15px);
                    line-height: rem(22px);
                    padding: 10px 0;
                    display:block;
                    text-align: center;
                    flex-basis: 100%;
                    width: 100%;
                }

			    .submit {
                    background-color: $dark;
                }

                .submit:hover {
                    background-color: $hover-dark;
                }
            }
        }
    }

	.linked-imgs-box {

		h2 {

        }

		.display-imgs {
            background-color: $blue;
        }

        .display-imgs:hover {
            background-color: $hover-blue;
        }

        .linked-imgs-container {

            h3 {

            }

            .linked-imgs-box {
                display:flex;
                flex-direction: column;

                @media (min-width: $small) {
                    flex-direction: row;
                }

                img {

                }
            }
        }
    }
}

.btn {
    color: $white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
}
