// Variables

// Colours
$white: #fff;
$black: #000;
$darkgrey: #333645;
$offwhite: #ccc;
$lightgrey: #999aa2;
$medgrey: #555;
$offblack: #212330;

//Colours for buttons
$blue: #4183d7;
$red: #b73f3a;
$green: #15ab36;
$grey: #888;
$dark: #323544;

//Hover & Focus colours
$hover-blue: #2a6ec6;
$hover-grey:#84858f;
$hover-red: #c42e2a;
$hover-dark: #292c39;

//Break Points
$phone: 480px;
$small: 768px;
$medium: 992px;
$large: 1260px;

//Fonts
$Poppins: 'Poppins';

//Assest Paths
$img-path: '../images';
$font-path: '../fonts';

//font
$base-font-size: 16px;
$base-line-height: 24px;

//font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//font styles
$font-italic: italic;